.klapa {
  width: 100%;
  height: 75vh;
  margin-top: 70px;
  background-image: url("../../img/dizinfeksiyachiOka.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    text-decoration: none;
  }
  &_right {
    // padding-top: 50px;
    // padding-left: 40%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &_title {
    width: 100%;
    height: 144px;
    margin-bottom: 20px;
    font-family: "Unbounded";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 48px;
    /* or 120% */

    color: #fafafa;
  }
  &_text {
    width: 309px;
    height: 72px;
    margin-top: 20px;
    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    color: #ffffff;
    margin-bottom: 50px;
  }
  &_img {
    position: relative;
    width: 100%;
  }
  &_btn {
    display: block;
    max-width: 200px;
  }
}

@media only screen and (max-width: 1140px) {
  .klapa {
    position: relative;
    width: 100%;
    height: 75vh;
    margin-top: 70px;
    background-image: url("../../img/dizinfeksiyachiOka.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    &_right {
      // padding-top: 5%;
      // padding-left: 40%;
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
    &_title {
      width: 100%;
      height: 144px;

      font-family: "Unbounded";
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      line-height: 48px;
      /* or 120% */

      color: #fafafa;
    }
    &_text {
      width: 309px;
      height: 72px;

      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      color: #ffffff;
      margin-bottom: 50px;
    }
    &_img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .klapa {
    &_title {
      width: 100%;
      height: 144px;

      font-family: "Unbounded";
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 38px;
      /* or 120% */

      color: #fafafa;
    }
    &_text {
      width: 100%;
      height: 72px;

      font-family: "SF Pro Display";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      /* or 150% */

      color: #ffffff;
      margin-bottom: 50px;
    }
    &_btn {
      display: block;
      width: 60%;
      height: 50px;
      font-size: 20px;
      display: block;
    }
  }
}

