.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  margin: auto;
  height: 100px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 15px #5e59592a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;

  &__link {
    font-size: 20px;
    font-weight: 500;
    color: #00000098;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  &_btn {
    width: 180px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    font-size: 20px;

    cursor: pointer;
    transition: all 0.1s ease;
    font-family: Unbounded;

    border: none;
    background: rgb(33, 55, 251);
    background: linear-gradient(
      0deg,
      rgb(37, 33, 251) 0%,
      rgb(59, 105, 230) 100%
    );
    color: #fff;
    &:hover {
      background: rgb(74, 83, 165);
      background: linear-gradient(
        0deg,
        rgb(109, 107, 247) 0%,
        rgb(59, 105, 230) 100%
      );
    }
    &__container {
      gap: 30px;
      display: flex;
      align-items: center;
    }
  }
  .list {
    width: 450px;
    display: flex;
    align-items: center;
    gap: 40px;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  li {
    /* Service */

    width: 70px;
    height: 20px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 100% */
    text-transform: capitalize;

    color: #666666;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__logo {
    max-width: 300px;
    height: 80px;
  }

  select {
    font-weight: 600;
    font-size: 16px;
    padding: 7px;
    color: #000000a6;
    border-radius: 10px;
    margin-right: 30px;
    max-height: 50px;
  }
  &__burger {
    display: none;
    margin-top: 10px;
    width: 40px;
  }
  &_hr {
    margin-bottom: 10px;
    max-width: 100%;
    height: 4px;
    background-color: rgb(40, 24, 24);
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    gap: 30px;
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
}

#turshak {
  display: flex;
  gap: 5px;
  margin-right: 50px;
  color: #00000098;
}

@media only screen and (max-width: 1140px) {
  .navbar {
    padding: 0;
    .list {
    }
    &__container {
      width: 100%;
      gap: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // padding: 0 5px;
    }
    &__logo {
      width: 90%;
      height: 45px;
    }
    &_btn {
      width: 130px;
      height: 50px;
      font-size: 16px;
    }
    select {
      width: 100px;
      height: 40px;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 600;
      padding: 0;
      margin: 0 10px;
    }
    &_hr {
      width: 80%;
    }
    &__container {
      gap: 0;
    }
  }
}

@media only screen and (max-width: 900px) {
  .navbar {
    &__container {
      display: flex;
      justify-content: space-between;
    }
    &_btn {
      display: none;
    }
    &__burger {
      display: block;
    }
    .list {
      display: none;
    }
  }
}

@media only screen and (max-width: 420px) {
  .navbar {
    select {
      width: 80px;
      height: 40px;
      font-size: 14px;
      font-family: sans-serif;
      font-weight: 600;
      padding: 0;
      margin: 0 10px;
    }
  }
}
