.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  margin: auto;
  height: 80px;
  padding: 20px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  transition: all 0.4s;
  z-index: 10;
  box-shadow: 0 1px 1px gray;
  &_btn {
    width: 200px;
    height: 60px;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
    font-size: 22px;

    cursor: pointer;
    transition: all 0.1s ease;
    font-family: Unbounded;

    border: none;
    background: rgb(33, 55, 251);
    background: linear-gradient(
      0deg,
      rgb(37, 33, 251) 0%,
      rgb(59, 105, 230) 100%
    );
    color: #fff;
    &:hover {
      background: rgb(74, 83, 165);
      background: linear-gradient(
        0deg,
        rgb(109, 107, 247) 0%,
        rgb(59, 105, 230) 100%
      );
    }
    &__container {
      gap: 30px;
      display: flex;
      align-items: center;
    }
  }
  .list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
  li {
    /* Service */

    width: 70px;
    height: 20px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 100% */
    text-transform: capitalize;

    color: #666666;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__logo {
    width: 300px;
    height: 80px;
  }

  select {
    font-weight: 600;
    padding: 7px;
    color: #000000a6;
    border-radius: 10px;
    margin-right: 30px;
  }
  &__burger {
    display: none;
  }
  &_hr {
    width: 40px;
    height: 4px;
    background-color: rgb(40, 24, 24);
  }
  &__container {
    width: 1260px !important;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;
    gap: 30px;
    display: flex;
    align-items: center;
  }
  &__right{
    display: flex;
    align-items: center;
  }
}

#turshak {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  margin-right: 50px;
}

@media only screen and (max-width: 1140px) {
  .navbar {
    &_btn {
      display: none;
    }
    .list {
      display: none;
    }
    &__burger {
      display: block;
    }
    &__container {
      gap: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
    }
    &__logo{
      width: 40%;
      height: 30%;
    }
    select{
      width: 140px;
      height: 60px;
      font-size: 20px;
      font-family: sans-serif;
      font-weight: 600;
      padding: 2px 5px;
    }
  }
}
