.xizmatlar {
  margin-top: 150px;
  &_subtitle {
    font-family: "Unbounded", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 64px;
    /* identical to box height, or 123% */
    text-transform: capitalize;

    color: #020c31;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &_text {
    width: 700px;
    height: 48px;
    margin-left: 10px;
    font-family: "Unbounded", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    color: #666666;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 50px;
  }
  &_cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  &_card {
    display: flex;
    align-items: center;
    // height: 100%;
    gap: 80px;
    padding: 20px 30px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  &_img {
    width: 300px;
    height: 300px;
  }
  &_title {
    width: 95%;
    color: #020c31;
    font-family: "Unbounded" , sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 10px;
  }
  &_text1 {
    width: 305px;
    height: 48px;

    font-family: "SF Pro Display";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */

    color: #666666;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 1140px) {
  .xizmatlar {
    margin-top: 120px;
    &_subtitle {
      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 62px;
      /* identical to box height, or 123% */
      text-transform: capitalize;

      color: #020c31;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    &_text {
      margin-top: 20px;
      width: 90%;
      height: 80%;

      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      /* or 133% */

      color: #666666;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 50px;
    }
    &_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      gap: 80px;
      padding: 30px;
      border: 1px solid gray;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    &_img {
      width: 200px;
      height: 200px;
    }
    &_title {
      width: 95%;
      color: #020c31;
      font-family: Unbounded;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0 10px;
    }
    &_text1 {
      width: 100%;
      max-height: 120px;

      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1px;
      line-height: 24px;
      /* or 133% */

      color: #666666;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .xizmatlar {
    margin-top: 100px;
    &_subtitle {
      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 55px;
      /* identical to box height, or 123% */
      text-transform: capitalize;

      color: #020c31;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    &_text {
      margin-top: 20px;
      width: 90%;
      height: 100%;

      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 24px;
      /* or 133% */

      color: #666666;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 50px;
    }
    &_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
      padding: 30px;
      border: 1px solid gray;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    &_img {
      width: 120px;
      height: 120px;
      margin-bottom: 0px;
    }
    &_title {
      width: 95%;
      color: #020c31;
      font-family: Unbounded;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0 10px;
    }
    &_text1 {
      width: 100%;
      max-height: 100px;

      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1px;
      line-height: 24px;
      /* or 133% */

      color: #666666;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 50px;
    }
  }
}

@media only screen and (max-width: 440px) {
  .xizmatlar {
    margin-top: 80px;
    &_subtitle {
      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      /* identical to box height, or 123% */
      text-transform: capitalize;

      color: #020c31;

      /* Inside auto layout */
      flex: none;
      order: 0;
      flex-grow: 0;
    }
    &_text {
      margin-top: 20px;
      width: 90%;
      height: 100%;

      font-family: "Unbounded", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 19px;
      /* or 133% */

      color: #666666;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 50px;
    }
    &_cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_card {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      gap: 20px;
      padding: 30px;
      border: 1px solid gray;
      border-radius: 20px;
      margin-bottom: 30px;
    }
    &_img {
      width: 100px;
      height: 100px;
      margin-bottom: 0px;
    }
    &_title {
      width: 95%;
      color: #020c31;
      font-family: Unbounded;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 0 10px;
    }
    &_text1 {
      width: 100%;
      max-height: 100px;

      font-family: sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1px;
      line-height: 24px;
      /* or 133% */

      color: #666666;

      /* Inside auto layout */
      flex: none;
      order: 1;
      flex-grow: 0;
      margin-bottom: 50px;
    }
  }
}
